.gray-bar .pfaq{
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #9D9D9D;
}
.faqs-word{
    font-weight: 600;
    font-size: 32px;
    padding: 56px 70px 0 70px ;
}
.royalety-sec{
    display: flex;
    justify-content: center;
    margin: 50px 70px;
    gap: 30px;
}
.with-drop,.no-drop{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .no-drop-qs,.drop-qs{
    display: flex;
    justify-content: space-between;
   
   width:592px;
   height: 64px;
   background-color: #F5F5F5;
   padding: 0 30px;
}
.no-drop-here{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p,i{
        color: #FF782D;
    }

}
.no-drop-qs{
    align-items: center;
    p{
        font-weight: 600;
        font-size: 16px;
        color: black;
    }
    i{
        color: #9D9D9D;
    }
}
.drop-qs {
    flex-direction: column;
    height: fit-content;
    .lorem-drop{
        font-family: "Jost", sans-serif;
        color: #555555;
        font-size: 16px;
        font-weight: 400;
        }
 
}
.girl-laptop{
    margin-left: 70px;
}
@media screen and (max-width:992px){
    .royalety-sec{
        flex-direction:column ;
        padding: 50px 20px;
    }
    .girl-laptop{
        background-size:cover;
    }
    .no-drop-qs,.drop-qs{
        width: fit-content;
    }
}